<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GenZ-dictionary : <%= title%> </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>

<body>
    <div class="container-lg">
        <!-- Content here -->
      

    <div class="container text-center">
        <div class="row">
          <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="/emoji.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Find the meaning to any Emoji and the context they are used in.</p>
                  <a href="/emoji" class="btn btn-primary">Launch</a>
                </div>
              </div> 
          </div>
<br>
          <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="https://preview.redd.it/hyperrealistic-3d-render-of-a-nerd-emoji-with-bucky-teeth-v0-ci6fvdemf2i91.png?width=640&crop=smart&auto=webp&s=dac1e8894ad488973fc17100ab35f8d8a58aafb4" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Get the meaning to any Slang or short form text abbreviation.</p>
                  <a href="/slangs" class="btn btn-primary">Launch</a>
                </div>
              </div>
          </div>
          
        </div>
      </div>

    </div>
    

   


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>  